body {
  background-color: #004573;
}

.signin__page {
  display: grid;
  place-items: center;
  background-color: aliceblue;
  width: 50vw;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.admin__page {
  display: grid;
  place-items: center;
  width: 50vw;
  margin: auto;
  color: #fff;
}

.admin__page button {
  margin-top: 20px;
  background-color: red;
}

.signin__page > form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

button:focus,
input:focus {
  outline: none;
}

button {
  background-color: #004573;
  border: none;
  color: aliceblue;
  padding: 10px 0;
  width: 80%;
  margin-bottom: 15px;
  text-transform: uppercase;
}
button:hover {
  background-color: #5a8cef;
}
span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  color: #cccc;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.signin__page > form > input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
}

#telephoneForm > button {
  width: 100%;
}

.signin__page > #emailForm button {
  width: 30%;
}

.sign__buttons {
  display: flex;
  justify-content: space-around;
}
